apis:
  - name: gitlab
    spec_url: https://gitlab.example.com/api/graphql
    base_url_override: https://gitlab.example.com/api/graphql
    auth:
      type: bearer
      token: glpat-REDACTED-TOKEN-2

timeout_seconds: 30
retries: 2
